<div>
  <h2>Register</h2>
  <div class="alert alert-info" *ngIf="Update">Your informations are update</div>
  <form (ngSubmit)="onUpdateAccount()" *ngIf="user">
    <div>
      <mat-form-field appearance="legacy">
      <mat-label>{{user.username}}</mat-label>
      <input matInput placeholder="Name" [(ngModel)]="username" name="username">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>{{user.email}}</mat-label>
      <input matInput placeholder="Mail" [(ngModel)]="email" name="email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>{{user.city}}</mat-label>
      <input matInput placeholder="Ville" [(ngModel)]="city" name="city">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>{{user.numeroRoad}}</mat-label>
      <input matInput placeholder="Numero" [(ngModel)]="numeroRoad" name="numeroRoad">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>{{user.Road}}</mat-label>
      <input matInput placeholder="Rue" [(ngModel)]="Road" name="Road">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy">
      <mat-label>+{{user.tel}}</mat-label>
      <input matInput placeholder="tel" [(ngModel)]="tel" name="tel">
    </mat-form-field>
  </div>
    <button mat-button type="submit" class="button">Submit</button>
  </form>

</div>
