<mat-toolbar style="background: #284267; color: white; margin-bottom: 5%;">
	<div>
		<a style="color: white;" routerLink="/home"> AuseCourse </a>
	</div>

	<div style="margin-left: 40%;" [hidden]="!loggedIn">
		<button *ngIf="user" mat-button [matMenuTriggerFor]="menu"> Bonjour {{user.username}} </button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item routerLink="/displayAccount">Afficher compte</button>
			<button mat-menu-item routerLink="/modifAccount">Modifier compte</button>
		</mat-menu>
		<button *ngIf="user" [hidden]="!user.deliverer" mat-button routerLink="/livreurDashboard">Commandes à livrer</button>
		<button mat-button routerLink="/orders">Mes commandes</button>
		<button mat-button routerLink="/course">Passer une commande</button>
		<button mat-button (click)="logout()" value="Logout" class="button">Déconnexion</button>
	</div>

</mat-toolbar>
