<div class="container border" style="margin-top: 40px; width: 40%;">

        

          <h3 style="margin-left: 20%; margin-top: 2%;">Liste de vos commandes :</h3>
          <br>

          <mat-nav-list style="width: 100%; ">
            <mat-list-item  *ngFor="let item of user.ordersToHandle">

                  <div *ngIf="item.orderState == 'DELIVRED'" style="background-color: #e8ff59; width:100%; height: 50%">
                    <div class="row">
                      <div class="col-9">
                        <div (click)="onDisplayOrder(item)"> 
                          {{item.address}} 
                        </div>                       
                      </div>
                      <div class="col-1">
                        <img *ngIf="item.orderState == 'CREATE'" class="accept" (click)="onAccept(item)" src="./../../../assets/accept.png" alt="accept" height="15" width="15"/>      
                      </div> 
                      <div class="col-2">
                        <img *ngIf="item.orderState == 'CREATE'" class="refuse" (click)="onRefuse(item)" src="./../../../assets/refuse.png" alt="refuse" height="15" width="15"/>                         
                      </div>                                           
                    </div>

                  </div>              

                  <div *ngIf="item.orderState == 'INPROGRESS'" style="background-color: #ffe785; width:100%; height: 50%">
                    <div class="row">
                      <div class="col-9">
                        <div (click)="onDisplayOrder(item)"> 
                          {{item.address}} 
                        </div>                       
                      </div>
                      <div class="col-1">
                        <img *ngIf="item.orderState == 'CREATE'" class="accept" (click)="onAccept(item)" src="./../../../assets/accept.png" alt="accept" height="15" width="15"/>      
                      </div> 
                      <div class="col-2">
                        <img *ngIf="item.orderState == 'CREATE'" class="refuse" (click)="onRefuse(item)" src="./../../../assets/refuse.png" alt="refuse" height="15" width="15"/>                         
                      </div>                                           
                    </div>

                  </div> 

                  <div *ngIf="item.orderState == 'CREATE'" style="background-color: #d6d6d6; width:100%; height: 50%">
                    <div class="row">
                      <div class="col-9">
                        <div (click)="onDisplayOrder(item)"> 
                          {{item.address}} 
                        </div>                         
                      </div>
                      <div class="col-1">
                        <img *ngIf="item.orderState == 'CREATE'" class="accept" (click)="onAccept(item)" src="./../../../assets/accept.png" alt="accept" height="15" width="15">                          
                      </div>
                      <div class="col-2">
                        <img *ngIf="item.orderState == 'CREATE'" class="refuse" (click)="onRefuse(item)" src="./../../../assets/refuse.png" alt="refuse" height="15" width="15">                         
                      </div>                                            
                    </div>

                  </div>

                  <div *ngIf="item.orderState == 'PAYED'" style="background-color: #b4d693; width:100%; height: 50%">
                    <div class="row">
                      <div class="col-9">
                        <div (click)="onDisplayOrder(item)"> 
                          {{item.address}} 
                        </div>                        
                      </div>
                      <div class="col-1">
                        <img *ngIf="item.orderState == 'CREATE'" class="accept" (click)="onAccept(item)" src="./../../../assets/accept.png" alt="accept" height="15" width="15">                            
                      </div>
                      <div class="col-2">
                        <img *ngIf="item.orderState == 'CREATE'" class="refuse" (click)="onRefuse(item)" src="./../../../assets/refuse.png" alt="refuse" height="15" width="15">                    
                      </div>                                            
                    </div>

                  </div>                


            </mat-list-item>
          </mat-nav-list>           




</div>