<div>
<h3 class="uk-panel-title">Ajout de courses</h3>
<form class="uk-form" name="bookForm" (ngSubmit)="onAddProduct(product)">
  <input ng-model="product.id" placeholder="id">
  <input ng-model="product.nom" name="nom" placeholder="nom du produit">
  <input ng-model="product.quantity" placeholder="quantité">
  <input ng-model="product.prix" placeholder="prix">

  <hr>
  <button type="submit" value="Submit">Ajout de produit</button>
  <hr>

</form>
</div>

<div class="uk-panel">

  <h3 class="uk-panel-title">Liste de courses</h3>

  <table class="uk-table uk-table-hover">
    <thead>
    <tr>
      <th>Product name</th>
      <th>Quantity</th>
    </tr>
    </thead>

    <tbody *ngFor="let product of commande">
    <tr>
      <td>{{product.nom}}</td>
      <td>{{product.quantity}}</td>
    </tr>
    </tbody>
  </table>

</div>
