<form class="uk-form" name="bookForm">
  <input ng-model="product.nom" name="nom" placeholder="nom du produit">
  <input ng-model="product.quantity" placeholder="quantité">
  <p ng-model="product">{{product._id}}</p>

  <hr>
  <a href="# " ng-click="addProduct(product)">Ajouter</a>
  <hr>

</form>

<div class="uk-panel">

  <h3 class="uk-panel-title">Liste de courses</h3>

  <table class="uk-table uk-table-hover">
    <thead>
    <tr>
      <th>Product name</th>
      <th>Quantity</th>
    </tr>
    </thead>

    <tbody ng-repeat="product in commande">
    <tr>
      <td>{{product.nom}}</td>
      <td>{{product.quantity}}</td>
    </tr>
    </tbody>
  </table>

</div>
