<div class="container border" style="margin-top: 40px; width: 50%;">
<!-- decommenter quand le back est ok 

<mat-nav-list>
  <mat-list-item *ngFor="let livreur of livreurs">
     <a matLine (click)="onNotifyLivreur(livreur)">{{ livreur.username }}</a>
     <button mat-icon-button>
        <mat-icon>some info about him</mat-icon>
     </button>
  </mat-list-item>
</mat-nav-list>

-->
<h3> Choisissez un livreur autour de vous :</h3> <br>
<mat-nav-list>
  <mat-list-item >
     <a matLine (click)="onNotifyLivreur(livreur)">Aymane</a>
     <button mat-icon-button>
        <mat-icon>nb stars</mat-icon>
     </button>
  </mat-list-item>
</mat-nav-list>

</div>